<template>
	<div>
		<div class="card" v-for="c in model.data">
			<h3 class="card-header">{{c.name}}</h3>
			<div class="card-body">
				<h6 class="card-title">Proposto por {{c.proponent.user.name}} no edital numero {{c.editalAprove}} com duração de {{c.workload}} horas</h6>
				<p class="card-text">{{c.description}}
					<br>Pre Requisitos: {{c.preRequirements}}
					<br>
					<template v-if="c.educationalLevel != 'age'" > Destinado ao publico com o seguinte grau de escolaridade: {{c.educationalLevel}}</template>
					<template v-else >
						Destinado ao publico com
						<template v-if="c.initialAge" > idade minima: {{c.initialAge}} </template>
						<template v-if="c.finalAge" > e idade maxima: {{c.finalAge}} </template>
					</template>
				</p>
				<button v-if="auth == 'proponent'" type="button" class="btn btn-default">
					<a :href="'/tcc/public/turma/create/' + c.id ">Propor Curso</a>
				</button>
				<button v-if="auth == 'employee'" type="button" class="btn btn-default">
					<a :href="'/tcc/public/course/' + c.id  + '/edit'">Editar</a>
				</button>
			</div>
			<hr>
		</div>
	</div>
</template>
<script>

export default {
	props: ['model', 'auth']
}
</script>
