<template>
	<div>
		<table class="table col-md-12">
			<thead>
				<tr>
					<th>NOME</th>
					<th>E-MAIL</th>
					<th>COORDENADOR</th>
					<th>ATIVO</th>
					<th>AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="e in model.data">
					<td>{{e.user.name}}</td>
					<td> {{e.user.email}}</td>
					<td v-if="e.coordinator">Coordenador</td>
					<td v-else>Não Coordenador</td>
					<td v-if="e.user.active">Ativo</td>
					<td v-else>Não Ativo</td>
					<td><a :href="'/tcc/public/employee/' + e.user.id + '/edit'"><span class="glyphicon glyphicon-pencil black"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>

export default {
	props: ['model'],
}
</script>
