<template>
	<div>
		<div class="form-group">
			<label for="firstOption" class="my-form-label">Publico alvo</label>
			<p>
				<input v-model="firstOption"  name="educationalLevel" type="radio" id="1" value="livre"/>
				<label for="1" class="label-vue">Livre</label>

				<input  v-model="firstOption" name="educationalLevel" type="radio" id="2" value="Fundamental I"/>
				<label for="2" class="label-vue">Fundamental I</label>

				<input v-model="firstOption" name="educationalLevel" type="radio" id="3" value="Fundamental II" d @endif />
				<label for="3" class="label-vue">Fundamental II</label>

				<input  v-model="firstOption"  name="educationalLevel" type="radio" id="4" value="Medio" />
				<label for="4" class="label-vue">Ensino Medio</label>

				<input  v-model="firstOption" name="educationalLevel" type="radio" id="5" value="Superior" />
				<label for="5" class="label-vue">Superior</label>

				<input  v-model="firstOption" name="educationalLevel" type="radio" id="test1" value="Tecnico"/>
				<label for="test1" class="label-vue">Tecnico</label>

				<input v-model="firstOption"  name="educationalLevel" type="radio" id="test2" value="age" />
				<label for="test2" class="label-vue">Definir Faixa Etaria</label>
			</p>
		</div>

		<div v-if="firstOption == 'age'">
			<div class="form-group">
				<label class="my-form-label" for="initialAge">Idade Inicial</label>
				<div class="input-field">
					<input id="initialAge" class="form-control" type="number" name="initialAge" :value="initialAge" >
				</div>
			</div>
			<div class="form-group">
				<label  class="my-form-label" for="finalAge">Idade Final</label>
				<div class="input-field">
					<input id="finalAge" class="form-control" type="number" name="finalAge" :value="finalAge">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: ['data', 'initial', 'final'],
	data(){
		return {
			firstOption: this.data,
			initialAge: this.initial,
			finalAge: this.final
		}
	},
	mounted() {
		this.checkAge()
	},
	methods: {
		checkAge(){
			if(this.initial || this.final){
				this.firstOption = 'age'
			}
		}
	}
}
</script>
