<template>
	<div>
		<div class="card" v-for="notice in model.data">
			<h3 class="card-header">Edital {{notice.number}}</h3>
			<div class="card-body">
				<p v-if="notice.date">Publicado em {{frontEndDateFormat(notice.date)}} </p>
				<ul>
					<p>Este edital refere-se as turmas</p>
					<li v-for="t in notice.turmas">{{t.name}}</li>
				</ul>
				<p v-if="notice.status == 'andamento'">Status: Em Andamento</p>
				<p v-if="notice.status == 'aguardandoNumero'">Status: Aguardando Numero do Edital</p>
				<p v-if="notice.status == 'ok'">Status: Pronto Para Publicação</p>


				<button v-if="notice.status != 'publicado'" type="button" class="btn btn-default">
					<a :href="'/tcc/public/notice/' + notice.id + '/edit'">Editar</a>
				</button>
				<button v-if="notice.status != 'publicado' && notice.status != 'aguardandoNumero' && notice.status != 'ok'" type="button" class="btn btn-default">
					<a :href="'/tcc/public/notice/' + notice.id + '/solicitarNumero'">Solicitar Numero</a>
				</button>

				<button v-if="notice.status == 'ok'" type="button" class="btn btn-default">
					<a :href="'/tcc/public/notice/' + notice.id + '/publicar'">Publicar</a>
				</button>

				<button type="button" class="btn btn-default">
					<a :href="'/tcc/public/notice/' + notice.id + '/download'">Baixar</a>
				</button>

				<button type="button" class="btn btn-default">
					<a :href="'/tcc/public/notice/' + notice.id + '/edital'"  target=“_blank” >Visualizar</a>
				</button>

				<button  v-if="notice.status != 'publicado' && notice.status != 'aguardandoNumero'" type="button" class="btn danger">
					<a class="adanger" href="#" data-toggle="modal" data-target="#exampleModalCenter">Excluir</a>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="exampleModalLongTitle">Excluir Edital</h4>
							</div>

							<div class="modal-body">
								<div>
									Apos excluir o edital não sera possivel recuperar as informações deste edital. As solicitações as quais o mesmo se referem voltaram ao status iniciais podendo ser excluidas. Tem certeza que deseja continuar esta operação?
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" type="submit">
									<a :href="'/tcc/public/notice/' + notice.id + '/delete'">Deletar</a>
								</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
</template>
<script>
import moment from 'moment'

export default {
	props: ['model', 'auth'],
	methods: {
		frontEndDateFormat: function(date) {
			return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
		}
	}
}
</script>

<style>
.putmargin{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
.danger{
	background-color: #ff6666;
}
.adanger{
	color: #fff;
}
.adanger:hover{
	color: #fff;
}
.modal-footer a{
	color: #fff;
}
.modal-footer a:hover{
	color: #fff;
}
</style>
