<template>
	<div class="row col-md-12">
		<div class=" campoBusca row">
			<input type="text" class="col-md-10 btn btn-lg" placeholder="Buscar" v-model="search_input" @keyup.enter="search()">
			<button v-on:click="search()" class="btn btn-lg botao col-md-2"><span class="glyphicon glyphicon-search"></span></button>
		</div>

		<component :is="Componente" :model="model" :auth="auth"></component>

		<div class="col-md-12">

			<span v-if="model.from">Exibindo {{model.from}} - {{model.to}} de {{model.total}} </span>
			<span v-else>Não foi encontrado nenhum dado </span>

			<ul class="pagination">
				<a>Pag.</a>
				<a @click="prev()" class="ico">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>

				<a v-bind:class="{'linkC' : index == page}" v-if="index >= page - 2 &&  index <= page + 2 " v-for="index in model.last_page" @click="mudapag(index)">
					{{index}}
				</a>
				<a @click="next()" class="ico">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</ul>
		</div>
	</div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import moment from 'moment'
import Employee from './Employee.vue'
import Proponente from './Proponent.vue'
import Course from './Course.vue'
import RequestedTurma from './RequestedTurma.vue'
import Propagation from './Propagation.vue'
import Notice from './Notice.vue'

export default {
	props: ['source', 'Componente', 'type', 'auth'],
	data(){
		return {
			page: 1,
			filterTerm: '',
			model: {},
			search_input: ''
		}
	},
	mounted() {
		this.fetchIndexData()
	},
	components:{
		'Employee':Employee,
		'Proponente':Proponente,
		'Course':Course,
		'RequestedTurma': RequestedTurma,
		'Propagation': Propagation,
		'Notice': Notice
	},
	methods: {
		fetchIndexData() {
			var vm = this
			axios.get(`${this.source}?page=${this.page}&search_input=${this.search_input}&type=${this.type}`)
			.then(function(response) {
				Vue.set(vm.$data, 'model', response.data.model )
			})
			.catch(function(response) {
				console.log(response)
			})
		},
		search(){
			this.page = 1
			this.fetchIndexData()
		},
		prev() {
			if(this.model.prev_page_url) {
				this.page--
				this.fetchIndexData()
			}
		},
		mudapag(pg){
			this.page = pg
			this.fetchIndexData()
		},
		next() {
			if(this.model.next_page_url) {
				this.page++
				this.fetchIndexData()
			}
		}
	}
}
</script>
