<template>
	<div>
		<table class="table col-md-12">
			<thead>
				<tr>
					<th>NOME</th>
					<th>E-MAIL</th>
					<th>AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="p in model.data">
					<td>{{p.name}}</td>
					<td> {{p.email}}</td>
					<td>
						<a :href="'/tcc/public/propagation/' + p.id + '/edit'"><span class="glyphicon glyphicon-pencil black"></span></a>
						<a href="#" data-toggle="modal" data-target="#exampleModalCenter"><span class="glyphicon glyphicon-remove vermelho"></span></a>
					</td>
					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Excluir Cadastro</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Apos confirmar a exclusão não sera possivel restaurar os dados deletados. Tem certeza que deseja deletar esse cadastro?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
									<button type="button" class="btn btn-primary">
										<a class="none" :href="'/tcc/public/propagation/' + p.id + '/delete'">Deletar</a>
									</button>
								</div>
							</div>
						</div>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
export default {
	props: ['model'],
}
</script>

<style media="screen">
	a.none{
		text-decoration: none;
		color: #fff;
	}
</style>
