<template>
	<div>
		<table class="table col-md-12">
			<thead>
				<tr>
					<th>NOME</th>
					<th>E-MAIL</th>
					<th>TIPO</th>
					<th>ATIVO</th>
					<th>AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="p in model.data">
					<td>{{p.user.name}}</td>
					<td> {{p.user.email}}</td>
					<td>{{p.type}}</td>
					<td v-if="p.user.active">Ativo</td>
					<td v-else>Não Ativo</td>
					<td v-if="p.status == 'Aprovado'">
						<a :href="'/tcc/public/proponent/' + p.user.id + '/edit'"><span class="glyphicon glyphicon-pencil black"></span></a>
					</td>
					<td v-else>
						<a :href="'/tcc/public/proponent/' + p.user.id + '/aprovar'"><span class="glyphicon glyphicon-ok verde"></span> </a>

						<a :href="'/tcc/public/proponent/' + p.user.id + '/recusar'"><span class="glyphicon glyphicon-remove vermelho"></span> </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>

export default {
	props: ['model'],
}
</script>
