<template>
	<div>
		<div class="card" v-for="t in model.data">
			<h3 class="card-header">{{t.course.name}}</h3>
			<div class="card-body">
				<h6 class="card-title">{{t.name}} - Solicitado por {{t.proponent.user.name}} em {{frontEndDateFormat(t.date)}}</h6>
				<p class="card-text">
					<template v-if="t.selectiveProcess =='ordemInscricao'">Processo Seletivo: Ordem de Inscrição<br /></template>
					<template v-else>Processo Seletivo: {{t.selectiveProcess}}<br /></template>

					Sala/Laboratorio: {{t.classroom}}<br />
					Horario previsto para as aulas: {{t.startTime}}h - {{t.closingTime}}h<br />
					Data das aulas: {{frontEndDateFormat(t.startdate)}} - {{frontEndDateFormat(t.closingdate)}}<br />
					Dias das aulas:	<template v-for="day in t.days">{{day.description}}  </template><br />
					Numero de vagas: {{t.numberVacancies}}<br />
				</p>
				<template v-if="auth != 'avaliada'">
					<button type="button" class="btn btn-default">
						<a :href="'/tcc/public/turma/' + t.id + '/' + t.course.id + '/editData'">Editar</a>
					</button>
					<button type="button" class="btn btn-default">
						<a :href="'/tcc/public/turma/' + t.id + '/aproveEdition'">Aprovar</a>
					</button>
					<button type="button" class="btn btn-default">
						<a href="#" data-toggle="modal" data-target="#exampleModalCenter">Recusar Solicitação</a>
					</button>
				</template>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="exampleModalLongTitle">Recusar Solicitação</h4>
							</div>
							<form class="form-horizontal my-from" :action="'/tcc/public/turma/' + t.id + '/edit'">
								<div class="modal-body">
									<div>
										<label class="my-form-label">Descreva o motivo</label>
										<textarea id="refused" class="form-control" name="refused" required></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" type="submit">
										ENVIAR
									</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
</template>
<script>
import moment from 'moment'

export default {

	props: ['model', 'auth'],
	methods: {
		show () {
			this.$modal.show('hello-world');
		},
		hide () {
			this.$modal.hide('hello-world');
		},
		frontEndDateFormat: function(date) {
			return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
		}
	}
}
</script>

<style>
.putmargin{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
</style>
