<template lang="html">
	<div>
		<table class="table">
			<thead>
				<tr>
					<td><strong>Turma</strong></td>
					<td><strong>Prontuario</strong></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(row, index) in rows">
					<td><input type="text" v-model="row.turma"></td>
					<td><input type="text" v-model="row.schoolRecords"></td>
					<td>
						<a v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button class="button btn-primary" @click="addRow">Add row</button>
		</div>
	</div>

</template>

<script>
export default {
	props: ['notice'],
	data(){
		return {
			rows: []
		}
	},
	mounted() {
		this.addRow()
	},
	methods: {
		addRow: function() {
			var elem = document.createElement('tr');
			this.rows.push({
				turma: "",
				schoolRecords: ""
			});
		},
		removeElement: function(index) {
			this.rows.splice(index, 1);
		}
	}
}
</script>
