@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body, html{
	background-color: #fff;

}
html {
	height: 100%;
    min-height: 100%;
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100%;
}

.marg{
	margin-bottom: 1%;
}

.list{
	text-align: center;
	font-family: 'PT sans', sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
	margin-top: 4%;
}

.list li{
	margin: auto;
	display: inline;
	list-style-type: none;
}

.list button{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #088A08;
	border: none;
	border-radius: 6%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
}

a:link{
	text-decoration:none;
}

.list a{
	color: #fff;
	text-decoration: none;
}

.list a:onclick{
	color: #fff;
	text-decoration: none;
}

.list a:hover{
	color: #fff;
	text-decoration: none;
}

.LinkBranco{
	text-decoration: none;
	color: #fff;
}

.LinkBranco:hover{
	text-decoration: none;
	color: #fff;
}

.LinkBranco:onclick{
	text-decoration: none;
	color: #fff;
}

.my-from{
	font-family: 'PT sans', sans-serif;
}

.my-from input:focus {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-box-shadow: 0px 0px 15px 1px #00c64b;
	-moz-box-shadow: 0px 0px 15px 1px #00c64b;
	box-shadow: 0px 0px 1px 0px #00c64b;
	border:.2px solid #008f36;
	outline:none;
}

.my-from select:focus {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-box-shadow: 0px 0px 15px 1px #00c64b;
	-moz-box-shadow: 0px 0px 15px 1px #00c64b;
	box-shadow: 0px 0px 1px 0px #00c64b;
	border:.2px solid #008f36;
	outline:none;
}

.tituloPag{
	font-family: 'PT sans', sans-serif;
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: bold;
}

.label-vue{
	font-family: 'PT sans', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	margin-right: 5px;
}

.my-form-label{
	font-family: 'PT sans', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
}

.bnt-padrao{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #088A08;
	border: none;
}

.bnt-padrao:hover{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #088A08;
	border: none;
}

.bnt-padrao:onclick{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #088A08;
	border: none;
}


.lista{
	text-align: center;
	font-family: 'PT sans', sans-serif;
	font-size: 18px;
	letter-spacing: 3%;
	margin-top: 0%;
	margin-bottom: 0%;
	position: static;
}

ul.u li{
	margin-right: -1%;
}

.lista ul.u{
	margin-left: 1%;
	float: none;
	position:relative;
	display: inline-block;
}

.lista div.linhaMenuOn{
	position: absolute;
	height: 3.5%;
	background-color:  #088A08;
	width: 109%;
}

.lista div.linhaMenu{
	position: absolute;
	height: 3.5%;
	background-color: #d0cece;
	width: 109%;
}

.page-footer{
	background-color: #088A08;
	color: #fff;
	padding-top: 1%;
	padding-bottom: 1%;
}

.page-footer a{
	color: #fff;
}

.page-footer a:hover{
	color: #fff;
}

.page-footer a:onclick{
	color: #fff;
}

.footer{
	background-color: #088A08;
	color: #fff;
	margin-top: auto;
}

.footer a{
	color: #fff;
}

.footer a:hover{
	color: #fff;
}

.footer a:onclick{
	color: #fff;
}

.campoBusca{
	margin-bottom: 0%;
}

.campoBusca input{
	background-color: #e4e4e4;
	border: none;
	text-align: center;
	font-family: 'PT sans', sans-serif;
	margin-bottom: 2.5%;
}

.botao{
	color: #fff;
	background-color: #088A08;
}

.black{
	color: black;
}


.pagination {
	float: right;
	margin-right: 0%;
	margin-top: 3%;
	display: inline-block;
}

.pagination a {
	font-family: 'PT sans', sans-serif;
	color: #7d7979;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 20%;
}

.linkC{
	background-color: #ddd;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.verde{
	color: green;
}

.vermelho{
	color: red;
}






























/*

.right{
	display: block;
}

.mouse th:hover {
	cursor:pointer;
}

.mouse td:hover {
	cursor:pointer;
}

.margnForm{
	margin-top: 3%;
}

input[type="file"] {
	display: none;
}
.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.bnt-file{
	background-color: #6b8adc;
	border: none;
	height: 40px;
	padding: 2% 2%;
	padding-top: 1.1%;
	border-radius: 12%;
	float: right;
	margin-right: 60%;
}

.cor{
	color: #fff;
}

.btnform{
	background-color: #6b8adc;
	color: #fff;
	width: 13%;
	border-radius: 4%;
}

.btnform a:hover{
	color: #fff;
	text-decoration: none;
}

.form-inp{
	background-color: #e4e4e4;
	border: none;
	font-family: 'PT sans', sans-serif;
	font-size: 20px;
	width: 41%;
	height: 40px;
	padding: 2% 1%;
	border-radius: 2%;
	margin-bottom: 1%;
}

.form-vue{
	background-color: #e4e4e4;
	border: none;
	font-family: 'PT sans', sans-serif;
	font-size: 20px;
	padding-top: 0.5%;
	border-radius: 4%;
	margin-left: 1%;
	margin-bottom: 1%;
}

.form-vue-sel{
	background-color: #e4e4e4;
	border: none;
	font-family: 'PT sans', sans-serif;
	font-size: 20px;
	padding-top: 1%;
	border-radius: 4%;
	margin-left: 1%;
	margin-bottom: 1%;
}

.form-sel{
	background-color: #e4e4e4;
	border: none;
	font-family: 'PT sans', sans-serif;
	font-size: 20px;
	width: 30.3%;
	height: 44.9px;
	border-radius: 2%;
	margin-bottom: 1%;
}

.marleft{
	margin-left: 11%;
}

.form-vue-label{
	font-family: 'PT sans', sans-serif;
	font-size: 20px;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: .5%;
}

.fr{
	float: right;
	margin-right: 0%;
	margin-left: 1%;
}

.textButom{
	width: 100%;
	display: table-cell;
}


.right button{
	color: #6b8adc;
	text-decoration: none;
	font-size: 12px;
	background-color: #6b8adc;
	border: none;
	border-radius: 6%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-top: 12px;
	display: inline-grid;
	transform: scaleX(70%);
	margin-top: 2%;
}

.botaoN a, .botaoN a:hover{
	color: #fff;
	text-decoration: none;
}


.verde{
	background-color: #b5c75c;
	color: #fff;
	border-color: #fff;
}

.verde:hover{
	background-color: #919F4A;
	border-color:  #919F4A;
}





.cartao{
	background-color: #f7f7f7;
	float: left;
	display: inline;
	width: 28rem;
	height: 39rem;
	margin-right: 3%;
	margin-left: 3.5%;
	border-bottom-width: 10%;
	border-bottom-color: #bababa;
	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;
	border-bottom-style: solid;
	margin-bottom: 5%;
}

.news, a:hover{
	font-family: 'PT sans', sans-serif;
	text-decoration: none;
	color: #888383;
}

.not{
	max-height: 15ch;
	overflow: hidden;
}

.news{
	text-align: justify;
}

.news h4{
	text-align: center;
	font-weight: bolder;
}

.textoCartao{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

.img{
	width: 100%;
	height: auto;
}

.uniname{
	width: 100%;
	height: 40%;
	background-color: #fff;
	border-top: 1.2px solid #bababa;
	border-right: 1.2px solid #bababa;
	border-left: 1.2px solid #bababa;
	border-top-right-radius: 3%;
	border-top-left-radius: 3%;
	text-align: center;
	font-size: 300%;
	padding-top: 15%;
	font-family: 'Lora', sans-serif;
}

.fundo{
	background-color: #fff;
}
.margt{
	margin-top: 0%;
	margin-bottom: 1%;
}

.left{
	margin-left: 0%;
	float: left;
	margin-right: 0%;
}

.subTitle{
	font-family: 'PT sans', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	color: #b7b7b7;
	margin-bottom: 0;
	margin-top: 11%
}

.negrito{
	font-weight: bolder;
} */
