.titulo{
	margin-top: 10%;
	font-size: 200%;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
}

.putmargin{
	margin-bottom: 10%;
}
.imagem{
	width: 160px;
	height: auto;
}
.teste{
	width: 200px;
}
.flo{
	float: left;
}

.t{
	height: 180px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
